In [1]:
import pandas as pd

In [2]:
dialog= pd.read_pickle("../Save/dialog.pkl")
content= pd.read_pickle("../Save/content.pkl")

In [3]:
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10039 entries, 0 to 10038
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   start_time              10039 non-null  float64
 1   end_time                10039 non-null  float64
 2   turn_name               10039 non-null  object
 3   emotion                 10039 non-null  object
 4   valence                 10039 non-null  float64
 5   activation              10039 non-null  float64
 6   dominance               10039 non-null  float64
 7   session                 10039 non-null  int64
 8   conversation_id         10039 non-null  object
 9   conversation_type       10039 non-null  object
 10  leading_dialog_actor    10039 non-null  object
 11  secondary_dialog_actor  10039 non-null  object
 12  actor_speaking_id       10039 non-null  object
 13  transcription           10039 non-null  object
 14  wav_path                10039 non-null  object
 15  alignment_path          10039 non-null  object
 16  labelers                10039 non-null  object
 17  label_1                 10039 non-null  object
 18  other_label_1           10039 non-null  object
 19  label_2                 10039 non-null  object
 20  other_label_2           10039 non-null  object
 21  label_3                 10039 non-null  object
 22  other_label_3           10039 non-null  object
 23  self_label              2414 non-null   object
 24  self_other_label        2414 non-null   object
 25  turn_duration           10039 non-null  float64
dtypes: float64(6), int64(1), object(19)
memory usage: 2.0+ MB

In [4]:
content.describe()

,start_time,end_time,valence,activation,dominance,session,turn_duration
count,10039.000000,10039.000000,10039.000000,10039.000000,10039.000000,10039.000000,10039.000000
mean,143.579852,148.039961,2.778066,3.089750,3.194326,3.099014,4.460109
std,100.307223,100.639312,0.897311,0.701749,0.789100,1.403450,3.064676
min,0.462100,3.002500,1.000000,1.000000,0.500000,1.000000,0.585000
25%,62.245150,66.910700,2.000000,2.500000,2.500000,2.000000,2.330000
50%,127.360000,132.270000,2.500000,3.000000,3.000000,3.000000,3.520000
75%,205.500000,209.330150,3.500000,3.500000,4.000000,4.000000,5.710000
max,539.575800,542.269100,5.500000,5.000000,5.000000,5.000000,34.138800

In [5]:
content.describe(include=object)

,turn_name,emotion,conversation_id,conversation_type,leading_dialog_actor,secondary_dialog_actor,actor_speaking_id,transcription,wav_path,alignment_path,labelers,label_1,other_label_1,label_2,other_label_2,label_3,other_label_3,self_label,self_other_label
count,10039,10039,10039,10039,10039,10039,10039,10039,10039,10039,10039,10039,10039,10039,10039,10039,10039,2414,2414
unique,10039,11,151,2,10,10,10,8068,10039,10039,24,35,19,44,33,52,49,77,111
top,Ses01F_impro01_F000,xxx,Ses04F_impro07,script,M3,F3,M5,Yeah.,D:\OneDrive - Universiteit Utrecht\Documents\0...,D:\OneDrive - Universiteit Utrecht\Documents\0...,E1;E2;E4,Frustration,,Anger,,Neutral,,Neutral,
freq,1,2507,167,5255,1178,1178,1137,84,1,1,6021,3691,9980,2048,9943,3791,9405,501,2102

In [6]:
content.head()

,start_time,end_time,turn_name,emotion,valence,activation,dominance,session,conversation_id,conversation_type,...,labelers,label_1,other_label_1,label_2,other_label_2,label_3,other_label_3,self_label,self_other_label,turn_duration
0,6.2901,8.2357,Ses01F_impro01_F000,neu,2.5,2.5,2.5,1,Ses01F_impro01,impro,...,E2;E3;E4;F1,Neutral,,Neutral,,Neutral,,Neutral,curious,1.9456
1,10.0100,11.3925,Ses01F_impro01_F001,neu,2.5,2.5,2.5,1,Ses01F_impro01,impro,...,E2;E3;E4;F1,Neutral,,Neutral,,Neutral,,Neutral; Anger,,1.3825
2,14.8872,18.0175,Ses01F_impro01_F002,neu,2.5,2.5,2.5,1,Ses01F_impro01,impro,...,E2;E3;E4;F1,Neutral,,Surprise,,Neutral,,Neutral; Anger,,3.1303
3,19.2900,20.7875,Ses01F_impro01_F003,xxx,2.5,3.0,3.0,1,Ses01F_impro01,impro,...,E2;E3;E4;F1,Neutral,,Frustration,,Anger,,Frustration; Anger,,1.4975
4,21.3257,24.7400,Ses01F_impro01_F004,xxx,2.5,3.0,2.5,1,Ses01F_impro01,impro,...,E2;E3;E4;F1,Neutral,,Frustration; Disgust,,Anger,,Frustration; Anger,,3.4143

In [7]:
content['emotion'].value_counts()

xxx    2507
fru    1849
neu    1708
ang    1103
sad    1084
exc    1041
hap     595
sur     107
fea      40
oth       3
dis       2
Name: emotion, dtype: int64

In [8]:
mask = content['turn_name'].str.startswith('Ses')
content.loc[mask]

,start_time,end_time,turn_name,emotion,valence,activation,dominance,session,conversation_id,conversation_type,...,labelers,label_1,other_label_1,label_2,other_label_2,label_3,other_label_3,self_label,self_other_label,turn_duration
0,6.2901,8.2357,Ses01F_impro01_F000,neu,2.5,2.5,2.5,1,Ses01F_impro01,impro,...,E2;E3;E4;F1,Neutral,,Neutral,,Neutral,,Neutral,curious,1.9456
1,10.0100,11.3925,Ses01F_impro01_F001,neu,2.5,2.5,2.5,1,Ses01F_impro01,impro,...,E2;E3;E4;F1,Neutral,,Neutral,,Neutral,,Neutral; Anger,,1.3825
2,14.8872,18.0175,Ses01F_impro01_F002,neu,2.5,2.5,2.5,1,Ses01F_impro01,impro,...,E2;E3;E4;F1,Neutral,,Surprise,,Neutral,,Neutral; Anger,,3.1303
3,19.2900,20.7875,Ses01F_impro01_F003,xxx,2.5,3.0,3.0,1,Ses01F_impro01,impro,...,E2;E3;E4;F1,Neutral,,Frustration,,Anger,,Frustration; Anger,,1.4975
4,21.3257,24.7400,Ses01F_impro01_F004,xxx,2.5,3.0,2.5,1,Ses01F_impro01,impro,...,E2;E3;E4;F1,Neutral,,Frustration; Disgust,,Anger,,Frustration; Anger,,3.4143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10034,236.5700,244.8300,Ses05M_script03_2_M041,ang,1.0,4.5,5.0,5,Ses05M_script03_2,script,...,E1;E2;E4,Anger,,Anger,,Anger,,NaN,NaN,8.2600
10035,244.8400,246.5800,Ses05M_script03_2_M042,ang,1.0,4.5,4.5,5,Ses05M_script03_2,script,...,E1;E2;E4,Anger,,Anger,,Anger,,NaN,NaN,1.7400
10036,246.5900,248.8300,Ses05M_script03_2_M043,ang,1.5,4.0,4.5,5,Ses05M_script03_2,script,...,E1;E2;E4,Anger,,Anger,,Anger,,NaN,NaN,2.2400
10037,255.8600,260.3300,Ses05M_script03_2_M044,ang,1.0,5.0,5.0,5,Ses05M_script03_2,script,...,E1;E2;E4,Anger,,Anger,,Anger,,NaN,NaN,4.4700
10038,260.3400,266.3500,Ses05M_script03_2_M045,ang,1.0,5.0,5.0,5,Ses05M_script03_2,script,...,E1;E2;E4,Anger,,Anger,,Anger,,NaN,NaN,6.0100